/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.bg-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 10px;
  padding: 100px;
  text-align: center;
}
